<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pokemon TBA</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>

  <h1>Pokemon Finder</h1>

  <form id = "choosePokemon" action="/displayPokemon" method="POST">

    <label for="pokemon">Enter Pokemon Name: </label>
    <input type="TEXT" id="pokemon" name="pokemon" value="pikachu">
    <button type="submit">Submit</button>
  </form>
  <br>

  <div id = "error">
    <% if (error) { %>
      <div>
        <strong><%= error %></strong>
      </div>
    <% } %>
</div>

  <div id="PCBox">

    <h2>PC BOX</h2>

    View caught pokemon: <a href="/pcBox">Access pokemon storage</a>

  </div>


  
  

</body>
</html>
