body {
    background-color: rgb(221, 93, 93);
}

#error { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10px;
}
h1, h2 {
    text-align: center;
}
img {
    border: 5px solid black;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#choosePokemon {
    margin: auto;
    width: fit-content;
    border: 5px solid  black;
    padding: 1%;
    border-radius: 25px;
    background-color:  white;
}
#PCBox {
    margin: auto;
    width: fit-content;
    border: 5px solid  black;
    padding: 1%;
    border-radius: 25px;
    text-align: center;
    background-color:  white;
}
#pokeInfo {
    margin: auto;
    width: fit-content;
    padding: 1%;
    border-radius: 25px;
    text-align: center;
    /* background-color:  white; */
}
#catchOrNo {
    text-align: center;
}
#listPokemon {
    text-align: center; 
}

#listPokemon table {
    display: inline-block;
}

#release {
    text-align: center;
}